@{
    Layout = null;
    var _v = $"?v={DateTime.Now.Ticks}";
}

<!DOCTYPE html>
<html lang="es-ec">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CTT ESTUDIANTES: Confirmación de registro</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="~/lib/utilities/toast/img/icon.png" />
    <link async href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="~/templates/estudiantes/css/app.css@_v" rel="stylesheet">
    <link href="~/lib/utilities/toast/toast.all.css@_v" rel="stylesheet" />
    <script defer src="~/templates/estudiantes/js/app.js@_v"></script>
    <script defer src="~/lib/utilities/toast/toast.all.min.js@_v"></script>
    <script defer src="~/js/routing.js"></script>
    <script defer src="~/lib/utilities/axios/axios.min.js"></script>
    <script defer src="~/lib/utilities/forms.js@_v"></script>
    <script defer src="~/js/Estudiantes/siteConfirmarCorreo.js@_v"></script>
</head>

<body class="bg-login">
    @Html.AntiForgeryToken()
    <main class="d-flex w-100">
        <div class="container card-center">
            <div class="card">
                <div class="card-body p-4">
                    <img src="~/templates/estudiantes/img/logo-verde.png" width="307" />
                    <div id="mensaje">
                        <div class="text-center alert-secondary">
                            Estamos validando su cuenta
                        </div>
                        <div class="text-center">
                            <span class="loader"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>