html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

form.to-uppercase input:not([no-uppercase]),
form.to-uppercase select:not([no-uppercase]),
form.to-uppercase textarea:not([no-uppercase]) {
    text-transform: uppercase !important;
}