
@{
    ViewData["Title"] = "Asignar Instructores";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid" id="content" hidden>
    <div class="row">
        <div class="col-auto me-0 pe-0 form-title">
            <h4>Asignación de Instructores</h4>
        </div>
        <div class="col-auto ">
            <button class="btn btn-sm btn-primary btn-new" title="Nuevo registro" onclick="nuevo()">
                <i class="bi-plus"></i> Agregar
            </button>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="table-responsive-sm">
                <table class="table table-sm table-condensed w-100
            table-light table-hover table-custom" id="tableDatos"></table>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalDatos" tabindex="-1" aria-labelledby="modalDatosLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h1 class="modal-title" id="modalDatosLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmDatos">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="fs-sm">Periodo</label>
                            <select class="form-select form-select-sm" id="idPeriodo" name="idPeriodo" onchange="comboTiposCursos()">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="fs-sm">Tipo de curso</label>
                            <select class="form-select form-select-sm" id="idTipoCurso" name="idTipoCurso" onchange="comboCursos()">
                                <option value="">Seleccione un periodo</option>
                            </select>
                        </div>

                        <div class="col-sm-12">
                            <label class="fs-sm">Curso</label>
                            <select class="form-select form-select-sm" id="idGrupoCurso" name="idGrupoCurso" onchange="comboCursosAsociados()">
                                <option value="">Seleccione un tipo de curso</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="fs-sm">Modulo</label>
                            <select class="form-select form-select-sm" id="idCurso" name="idCurso">
                                <option value="">Seleccione un curso</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <label class="fs-sm">Paralelo</label>
                            <select class="form-select form-select-sm" id="paralelo" name="paralelo">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                                <option value="J">J</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="fs-sm">Instructor</label>
                            <select class="form-select form-select-sm" id="idInstructor" name="idInstructor">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="fs-sm">Fecha máxima pase de notas</label>
                            <input type="date" class="form-control form-control-sm" id="fechaLimiteNotas" name="fechaLimiteNotas"/>
                        </div>
                    </div>

                    <div class="row mt-3 alert alert-info px-0 py-3 mx-alert shadow-sm">
                        <label class="text-danger fs-xxxs fw-600"><i class="bi-info-circle me-1"></i>En caso de que se quiera extender el tiempo para el pase de notas.</label>
                        <div class="col-sm-6">
                            <label class="fs-sm">Fecha máxima pase de notas</label>
                            <input type="date" data-validate="no-validate" class="form-control form-control-sm" id="fechaLimiteNotasAtraso" name="fechaLimiteNotasAtraso" />
                        </div>
                        <div class="col-sm-12">
                            <label class="fs-sm">Observaciones</label>+++
                            <textarea class="form-control form-control-sm" id="observacion" name="observacion" data-validate="no-validate" maxlength="100"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-secondary btn-sm" data-cerrar
                        data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-guardar
                        onclick="guardar()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<script defer src="~/js/administrador/siteAsignacionInstructores.js?v=@DateTime.Now.Ticks"></script>


