
@{
    ViewData["Title"] = "Creditos Pendientes";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid" id="content" hidden>
    <div class="row">
        <div class="col-auto me-0 pe-0 form-title">
            <h4>Administrar Matriculas</h4>
        </div>
    </div>
    <hr>
</div>

