@{
    ViewData["Title"] = "Listado Matriculados";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid" id="content" hidden>
    <div class="row">
        <div class="col-auto me-0 pe-0 form-title">
            <h4>Listado Matriculados</h4>
        </div>
    </div>
    <hr>
    <form id="frmDatos" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6">
                <label class="fs-sm">Periodo</label>
                <select class="form-select form-select-sm" id="idPeriodo" name="idPeriodo" onchange="comboCursos()">
                    <option value="">Seleccione</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label class="fs-sm">Curso</label>
                <select class="form-select form-select-sm" id="idGrupoCurso" name="idGrupoCurso" onchange="comboCursosAsociados()">
                    <option value="">Seleccione un periodo</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label class="fs-sm">Módulo</label>
                <select class="form-select form-select-sm" id="idCurso" name="idCurso" onchange="comboParalelos()">
                    <option value="">Seleccione un curso</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="fs-sm">Paralelo</label>
                <select class="form-select form-select-sm" id="paralelo" name="paralelo" onchange="listar()">
                    <option value="">Seleccione un módulo</option>
                </select>
            </div>
        </div>
    </form>
    <div class="row mt-4">
        <div class="col-sm-12 text-center">
            <label class="fs-sm alert alert-success w-auto  h-auto py-1 shadow-sm" id="instructorLabel" hidden></label>
        </div>
    </div>
    <div class="table-responsive">

        <table class="table table-sm table-condensed w-100
            table-light table-hover table-custom"
               id="tableDatos"></table>
    </div>

</div>
<script defer src="~/js/Administrador/siteListadoMatriculados.js?v=@DateTime.Now.Ticks"></script>

