@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FICHA DE INSCRIPCIÓN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
        body {
            padding: 0;
            margin: 0;
            width: 771px;
            min-height: 1100px;
            font-family: "Inter", sans-serif;
            font-size: 11px;
            font-optical-sizing: auto;
        }

        .bg-primary {
            background-color: #005A9F;
        }

        .w-100 {
            width: 100%;
        }

        .text-white {
            color: white !important;
        }

        .link {
            text-decoration: none;
        }

        table {
            border-collapse: collapse;
        }

            table tr td {
                border: none;
            }

        .text-end {
            text-align: right;
        }

        .pe-3 {
            padding-right: 10px;
        }

        .ps-3 {
            padding-left: 10px;
        }

        .ps-2 {
            padding-left: 5px;
        }

        .pe-2 {
            padding-right: 5px;
        }

        .pe-5 {
            padding-right: 40px;
        }

        i {
            font-size: 15px;
        }

        .text-center {
            text-align: center;
        }

        .mt-3 {
            margin-top: 10px;
        }

        .mt-4 {
            margin-top: 20px;
        }

        .ms-3 {
            margin-left: 20px;
        }

        .border-start-primary {
            border-left: 5px solid #005A9F;
        }

        .border-end-primary {
            border-right: 5px solid #005A9F;
        }

        .fw-bold {
            font-weight: 600;
        }

        .text-primary {
            color: #005A9F;
        }

        footer {
            position: fixed;
            bottom: 0px;
        }

        .water-logo {
            position: fixed;
            bottom: -46px;
            left: -46px;
            opacity: 0.19;
            z-index: -9999;
        }

        .main {
            margin-top: 25px;
            text-align: justify;
            line-height: 13px;
            width: 700px;
            margin-right: auto;
            margin-left: auto;
            height: 100px !important;
        }

        div.parrafo {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <table class="w-100">
        <tr style="height:37px" class="bg-primary">
            <td class="text-white text-end pe-5">
                <a class="link text-white" href="https://www.uniandes.edu.ec" target="_blank">www.uniandes.edu.ec</a>
                <i class="bi-instagram ps-2"></i>
                <i class="bi-facebook"></i>
                <i class="bi-twitter"></i>
            </td>
        </tr>
    </table>
    <div class="w-100 text-center mt-4">
        <img src="https://servicios.uniandes.edu.ec/assets/reportes/logo-azul.png" width="271" />
    </div>
    <table class="w-100 mt-4 ms-3">
        <tr>
            <td width="15px" class="bg-primary text-white text-center"></td>
            <td class="ps-3">Bienvenido a la Universidad Regional Autónoma de los Andes, el camino para alcanzar tus sueños está iniciando.</td>
        </tr>
    </table>
    <table class="mt-4 ms-3 w-100">
        <tr>
            <td width="109px" class="border-end-primary fw-bold text-primary" style="font-style:italic">FICHA DE INSCRIPCIÓN</td>
            <td width="640px" class="ps-3">
                <table class="w-100">
                    <tr>
                        <td>
                            <span class="fw-bold">Apellidos y Nombres:</span>
                            <span class="ps-2">Lozada Castillo Juan Carlos</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fw-bold">Documento:</span>
                            <span class="ps-2">1803769759</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fw-bold">Celular:</span>
                            <span class="ps-2">0962254221</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fw-bold">Email:</span>
                            <span class="ps-2">jc.lozadacastillo@gmail.com</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fw-bold">Carrera:</span>
                            <span class="ps-2">Software</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fw-bold">Sección:</span>
                            <span class="ps-2">Matutina</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fw-bold">Modalidad:</span>
                            <span class="ps-2">Presencial</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fw-bold">UNIANDES:</span>
                            <span class="ps-2">Ambato</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fw-bold">Periodo Académico:</span>
                            <span class="ps-2">MAYO 2024 - SEPTIEMBRE 2024</span>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

    <div class="main">
        <div class='parrafo' style="margin-top:37px">
            Para culminar con éxito tú proceso de inscripción en UNIANDES IBARRA en la carrera de ODONTOLOGÍA, debes realizar el
            PAGO DE LA INSCRIPCIÓN del siguiente valor $ 10,00 a través de estas formas de pago :
        </div>
        <div class='parrafo'>
            <b>EFECTIVO Banco Pacífico.</b>
        </div>

        <div class='parrafo'>
            <b style="color:red;margin-right:2px">*</b> Al momento de acercarte a la entidad bancaria asignada, NO debes realizar ninguna papeleta de depósito,
            solo necesitas tu documento de identidad y comunicarle al cajero que es un pago de UNIANDES.
        </div>
        <div class='parrafo'>
            <b class="pe-2">PAGO EN LÍNEA</b>Solo Clientes: Banco Pacífico a través de Intermático, Banco Produbanco, Produbanco BE, banca en línea,
        </div>
        <div class='parrafo'>
            Aplicativo BE.
        </div>
        <div class='parrafo'>
            <b>BOTÓN DE PAGOS UNIANDES: </b><a class="link ps-2" href="https://botonpagosuniandes.edu.ec/pagos/" target="_blank">https://botonpagosuniandes.edu.ec/pagos/</a>
        </div>
        <div class="parrafo text-center" style="margin-top:25px">
            <span class="fw-bold">Cédula/Pasaporte: </span><span>1803769759</span>
        </div>
        <div class="parrafo text-center">
            <span class="fw-bold">Contraseña: </span><span>123456</span>
        </div>
        <div class="parrafo" style="margin-top:25px">
            En caso de tener alguna consulta con respecto al proceso de inscripción, puedes comunicarte con JORGE PORTILLA tu asesor
            de admisión asignado por medio de mensajes de WhatsApp al 0989452318 (nota si le llega un link dar clic es seguro), por
            número convencional al 062611882 ext 4501; o también lo puedes realizar mediante un correo electrónico a
            ui.admision@uniandes.edu.ec
        </div>
        <div class="parrafo fw-bold text-center" style="line-height:15px">
            Recuerda actualizar los datos de facturación dentro del Botón de Pagos.
            <br />
            Una vez realizado el pago, los valores no son reembolsables.
        </div>
    </div>

    <footer class="w-100">
        <img src="https://servicios.uniandes.edu.ec/assets/reportes/aguila.png" width="217" class="water-logo" />
        <div class="w-100 text-center text-primary">#ElegisteEl<b>MejorLugar</b>ParaTu<b>FormaciónProfesional</b></div>
        <table class="mt-3" style="margin-left:109px">
            <tr>
                <td style="font-style:italic;border-bottom:5px solid #005A9F;white-space:nowrap">Proceso de Admisión</td>
            </tr>
        </table>
        <table class="mt-3" style="margin-left:auto;margin-right:auto">
            <tr>
                <td width="172px" class="text-center" style="font-style:italic">
                    <i class="bi-1-circle-fill text-primary" style="font-size:37px"></i>
                </td>
                <td width="172px" class="text-center" style="font-style:italic">
                    <i class="bi-2-circle-fill text-primary" style="font-size:37px"></i>

                </td>
                <td width="172px" class="text-center" style="font-style:italic">
                    <i class="bi-3-circle-fill text-primary" style="font-size:37px"></i>
                </td>
                <td width="172px" class="text-center" style="font-style:italic">
                    <i class="bi-4-circle-fill text-primary" style="font-size:37px"></i>
                </td>
            </tr>

            <tr style="font-style:italic" class="text-center">
                <td width="172px" valign="top"><small>Inscribete</small></td>
                <td width="172px" valign="top"><small>Cancela el rubro<br />de inscripción</small></td>
                <td width="172px" valign="top"><small>Realiza la<br />evaluación<br />de ingreso</small></td>
                <td width="172px" valign="top"><small>Matricúlate</small></td>
            </tr>
        </table>
        <table class="mt-3 w-100">
            <tr style="border-bottom:2px solid #005A9F; border-top:2px solid #005A9F">
                <td class="text-center text-primary" style="padding-top:10px;padding-bottom:10px;">
                    Dirección Nacional de Admisión / admision@uniandes.edu.ec
                </td>
            </tr>
        </table>
    </footer>
</body>
</html>