
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutContador.cshtml";
}

<div class="portada bg-contadores">
    <div class="text-center" style="padding-top: 25vh;">
        <img src="~/lib/utilities/toast/img/logo-full.png" width="370" alt="">
        <h6 class="text-white text-uppercase fw-bold">Sistema académico</h6>
        <h6 class="text-white text-uppercase ">Contabilidad</h6>
        <h6 class="text-white fs-xxxxs fw-bold">CTT DE LOS ANDES &copy;2023</h6>
    </div>
</div>
