@{
    Layout = null;
    var _v = $"?v={DateTime.Now.Ticks}";
}
<!DOCTYPE html>
<html lang="es-ec">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CTT DE LOS ANDES: Asesores Comerciales Login</title>

    <!-- Favicons -->
    <link href="~/lib/utilities/toast/img/icon.png" rel="icon">
    <link href="~/lib/utilities/toast/img/icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <!--links-->
    <link href="~/templates/asesores/assets/vendor/bootstrap/css/bootstrap.min.css@_v" rel="stylesheet">
    <link href="~/templates/asesores/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/templates/asesores/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/templates/asesores/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/templates/asesores/assets/css/style.css@_v" rel="stylesheet">
    <!--scripts-->
    <!--system-->
    <link defer href="~/lib/utilities/toast/toast.all.css" rel="stylesheet" />
    <script>const _route = top.location.href.toLowerCase().indexOf("localhost:") >= 0 ? "../../" : "../../../appCec/"</script>
    <script defer src="~/lib/utilities/toast/toast.all.min.js"></script>
    <script defer src="~/lib/utilities/axios/axios.min.js"></script>
    <script defer src="~/lib/utilities/forms.js@_v"></script>
    <!--system-->
    <script defer src="~/templates/asesores/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/js/Contadores/sitelogin.js@_v"></script>
</head>

<body>
    @Html.AntiForgeryToken()
    <main class="bg-login bg-contadores">
        <div class="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="text-center pt-4">
                                        <img src="~/lib/utilities/toast/img/logo-azul.png" width="136" />
                                    </div>
                                    <div class="pt-0 pb-0">
                                        <h5 class="card-title text-center pb-0 fs-4">Contabilidad</h5>
                                        <p class="text-center small">Ingrese su usuario y contraseña</p>
                                    </div>
                                    <form class="row g-3 needs-validation" id="frmDatos">
                                        <div class="col-12">
                                            <label for="yourUsername" class="form-label">Usuario</label>
                                            <div class="input-group has-validation">
                                                <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Ingrese su usuario">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label class="form-label">Contraseña</label>
                                            <input type="password" id="clave" name="clave" class="form-control" placeholder="Ingrese su contraseña">
                                        </div>

                                        <div class="col-12">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="persistent" name="persistent" value="true"
                                                       checked>
                                                <label class="form-check-label fs-xs" for="persistent">
                                                    Mantener sesión activa en este
                                                    equipo
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Login</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0" hidden>
                                                Olvido sus credenciales? <a href="pages-register.html">
                                                    Recuperar
                                                    contraseña
                                                </a>
                                            </p>
                                        </div>
                                    </form>
                                    <div class="credits fs-xxxxs fw-bold text-secondary text-center mt-3">
                                        CTT DE LOS ANDES &copy; 2023
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main>

</body>

</html>
