
@{
    ViewData["Title"] = "Validación de pagos";
    Layout = "~/Views/Shared/_LayoutContador.cshtml";
}
<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-auto me-0 pe-0 form-title">
            <h4>Validación de pagos</h4>
        </div>
    </div>
    <hr>
    <div class="table-responsive p-1 mt-4">
        <table class="table table-sm w-100 table-custom-asesores" id="tableDatos"></table>
    </div>
</div>

<div class="modal fade" id="modalDetalle" tabindex="-1" aria-labelledby="modalDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h1 class="modal-title text-white" id="modalDetalleLabel">Modal title</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row px-4 alert alert-light my-0 mx-2">
                    <div class="col-sm-12 text-end">
                        <label class="fs-6 fw-bold">PENDIENTE VALIDACIÓN: <strong id="deudaDetalleMatricula">0.0</strong></label>
                    </div>
                    <div class="col-sm-12 fs-sm">
                        <label id="documentoIdentidadDetalleMatricula"></label>
                    </div>
                    <div class="col-sm-12 fs-sm">
                        <label id="estudianteDetalleMatricula"></label>
                    </div>
                    <div class="col-sm-12 fs-sm">
                        <label class="fw-bold" id="tipoCursoDetalleMatricula"></label>
                    </div>
                    <div class="col-sm-12 fs-sm">
                        <label id="cursoDetalleMatricula"></label>
                    </div>
                    <div class="col-sm-12" id="detalleMatriculaModulos">
                    </div>
                    <div class="col-sm-12 fs-sm mt-4">
                        <label class="fw-bold">DETALLE DE PAGOS</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="fs-sm table table-striped w-100" id="tablePagos">
                                <thead class="bg-primary text-white">
                                    <tr>
                                        <th class="w-btn"></th>
                                        <th>FECHA</th>
                                        <th>CUENTA</th>
                                        <th>#DOCUMENTO</th>
                                        <th>TIPO</th>
                                        <th>VALOR</th>
                                        <th>ESTADO</th>
                                        <th>OBSERVACIONES</th>
                                    </tr>
                                </thead>
                                <tbody id="detallePagosMatricula">
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-secondary btn-sm" data-cerrar
                        data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPagoDetalle" tabindex="-1" aria-labelledby="modalPagoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h1 class="modal-title text-white" id="modalPagoLabel">Validación de pago</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12" id="divDatosPago">

                    </div>
                    <div class="col-sm-12" id="divIframeDocumento">
                    </div>
                </div>
            </div>
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-secondary btn-sm" data-cerrar
                        data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


<script defer src="~/js/Contadores/siteValidarPagos.js?v=@DateTime.Now.Ticks"></script>


